$headerHeight: 64px;
$footerHeight: 64px;

$contentHeight: calc(100vh - #{$headerHeight} - #{$footerHeight});

.ant-layout {
  &-header {
    height: $headerHeight;
  }

  &-content {
    margin: 0;
    padding: 24px;
    height: $contentHeight;
  }

  &-footer {
    text-align: center;
    height: $footerHeight;
  }
}
