body {
  background: #f0f2f5;
}

.ant-layout-header {
  color: #fff;
}

.block-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-right {
  text-align: right;
}

// Fix icon alignment
.anticon {
  vertical-align: 0.1em !important;
}

.full-width {
  width: 100%;
}

.ant-table-row.odd {
  background: #d6ebff;
}
